body {
    background-image: url(static/img/3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.small-input {
    width: 200px;
    padding: 5px;
}

.mb-5 {
    text-align: center;
    padding: 20px; 
}

.large-textarea {
    width: 100%;
    height: 150px; 
}

a {
    text-decoration: none;
    color: black;
}

.card{

    text-align: center;
    width: 250px;   
    margin: 0 auto;
}

.mb-3{

    text-align: center;
}