body{

    background-image: url('img/2.png');
    background-size: cover;
    background-repeat: no-repeat;

}

h1{

    text-align: center;
}

table{
    width: 110%;
    
}

td{
    text-align: center;
    padding: 5%;
}

img{
    width: 200px;
    height: 200px;

}

#carrito{
    height: 20%;
    width: 20%;
    margin-left: 75%;
}