body{
        
    background-image: url('static/img/5.png');
    background-size: cover;
    background-repeat: no-repeat;

    }


    .carousel-inner img {
      width: 100%;
      height: 550px;
      object-fit: cover;
    }