<!DOCTYPE html>
<html>
<head>
    <title>Detalle del Usuario</title>
</head>
<body>
    <h1>{{ usuario.nombre }} {{ usuario.apellido_paterno }}</h1>
    <p>Correo Electrónico: {{ usuario.correo_electronico }}</p>
    <p>Apellido Materno: {{ usuario.apellido_materno }}</p>
    <p>Género: {{ usuario.get_genero_display }}</p>
    <a href="{ %}">Editar</a>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>
    <a href="">Volver a la lista</a>
</body>
</html>